include *.py
include buildout-plone41.cfg
include buildout-plone42.cfg
include buildout-plone43.cfg
recursive-include docs *.GPL
recursive-include docs *.txt
recursive-include src *.metadata
recursive-include src *.pt
recursive-include src *.txt
recursive-include src *.xml
recursive-include src *.zcml
